body {
    background-color: blue;
    text-align: center;
}
.box {
    background-color: black;
    text-align: center;
    color: white;
    width:50%;
    margin-left:25%;
    margin-top: 10%;
    overflow: hidden;
}
h1 {
    font-family: "Libre Baskerville", system-ui;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.motivation_image {
    width: 99%;
    border: 5px solid white;
}